@import url("https://fonts.googleapis.com/css?family=Mukta:700");

body {
	margin: 0;
	font-family: "Mukta";
	background: white;
	display: flex;

	height: 100vh;
}

$bg: #f3f8fa;
$white: #fff;
$black: #2452e6;

@mixin transition(
	$property: all,
	$duration: 0.45s,
	$ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
	transition: $property $duration $ease;
}

.container {
	margin: 0 auto;
	text-align: center;

	h1 {
		margin: 1em 0;
	}

	p {
		line-height: 1.7rem;
	}

	.left {
		background: linear-gradient(160deg, #1444e2 5%, #3609d8 100%);
		padding: 1em;

		p,
		h1,
		h3 {
			color: white;
		}
	}
	.right {
		p {
			margin: 2em 1em;
		}

		.patientInfo {
			padding: 1em;
		}
		.patientXray {
			padding: 1em;
		}
	}
}

@media only screen and (min-width: 1000px) {
	.inner {
		display: grid;
		grid-template-columns: 65% auto;

		.left {
			text-align: left;
			padding: 0 2em;
			height: 100vh;
			display: grid;

			.content {
				padding: 0 3em;
			}
		}
	}
}
