@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
	margin: 0;
	font-family: "Montserrat";
	background: white;
	font-size: 17px;
	height: 100vh;
	color: #2196f3;
}

.container {
	margin: 0 auto;
	text-align: center;

	h1 {
		margin: 1em 0;
	}

	p {
		line-height: 1.7rem;
	}

	.content {
		padding: 1em;
	}

	.left {
		background: linear-gradient(160deg, #1444e2 10%, #2196f3 100%);
		padding: 1em;

		p,
		h1,
		h3 {
			color: white;
		}
		.asterisk {
			color: rgba(255, 255, 255, 0.6);
		}
	}
	.right {
		p {
			margin: 2em 1em;
		}

		.patientInfo {
			padding: 2em;
			padding-bottom: 5em;
		}
		.patientXray {
			padding-bottom: 5em;
			padding: 1em;
		}
	}
}

@media only screen and (min-width: 1250px) {
	body {
		font-size: 17px;
	}
	.inner {
		display: grid;
		grid-template-columns: 67% auto;

		.left {
			text-align: left;
			padding: 0 2em;
			padding-top: 4em;
			height: 100vh;
			display: grid;

			.content {
				padding: 0 3em;
			}
		}
	}

	.proto-container {
		clip-path: inset(0, 33%, 0, 0);
		position: absolute;
		top: 20%;
		height: 70%;
		z-index: 0;
		width: 100%;
		pointer-events: none;

		.proto {
			border: 3px solid rgba(255, 255, 255, 0.1);
			width: 19%;
			height: 80%;
			float: left;
			margin-left: 1em;
			transform: translateX(10%);
		}
	}
}

@media only screen and (min-width: 1900px) {
	body {
		font-size: 21px;
		overflow-y: hidden;
	}
	.content {
		padding: 0 3em !important;
		p {
			line-height: 2.2rem;
		}
	}
	.right {
		padding: 0 !important;
	}
}
